/* General Page Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f1f1cc;
    margin: 5%;
    padding: 5px;
  }
  
  /* Header Styling */
  header {
    background-color: #B8D4E7;
    color: #fff;
    padding: 1%;
    text-align: center;
    
  }

  
  /* Referenced YouTube video "How to Add Smooth Scrolling Anchor Links to Jump to a Specific 
    Part of a Web Page - HTML & CSS" to get the anchor link to scroll smoothly */
  html{
    scroll-behavior: smooth;
  }
  
  .banner-title{
    padding-top: 2%;
    text-align: center;
    color: #FF592A;
  }
  
  /* Image Styling */
  /* Reference: for the layout, I visited the CSS Layout - Horizontal & Vertical Align website
   https://www.w3schools.com/css/css_align.asp */
  .banner {
    width: 100%;
    overflow: hidden;
  }
  
  /* @keyframes imageSlides {
    0%{background-image: url(/Users/sandramartinez/Desktop/cs1300/responsive redesign/front page image elite repeat.jpeg);}
  } */
  
  .banner img {
    max-width: 100%;
    max-height: 100vh;
    display: block;
    padding: 10;
    border-radius: 5%;
    /* border-color: black; */
    /* border:2px solid #000000; */
    margin: 0 auto;
    align-content: center;
    padding-top: 1%;
    padding-bottom: 3%;
  }
  

  
  p{
    font-weight: 200;
    font-size: 110%;
  }
  
  
  .content{
    height:100vh;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-grow: 1;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
  }
  
 
  h2{
    color:black;
    margin: 0;
  }
  